.page {
    background-color: #c384ff;
}

#bestPups {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.navBar {
    background-color: #ff91e5;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
    font-size: x-large;
    padding: 10px 100px 10px 100px;
}

.navBarHighlight {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
}

#home_1 {
    color: black;
    font-weight: bold;
}

#you_1 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#info_1 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#more_1 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#you_2 {
    color: black;
    font-weight: bold;
}

#info_2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#more_2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_3 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#you_3 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#info_3 {
    color: black;
    font-weight: bold;
}

#more_3 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_4 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#you_4 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#info_4 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#more_4 {
    color: black;
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: center;
}

#doggos {
    margin: 0% 10% 0% 10%;
}

#pyrPic {
    max-width: 100%;
    height: auto;
}

#pyr {
    margin-left: 5%;
    margin-right: 5%;
}

#goldiePic {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}

#goldie {
    margin-left: 5%;
    margin-right: 5%;
}

#pompomPic {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}

#pompom {
    margin: 0px 5% 20px 5%
}

.bottomBar {
    margin: 30px 0px 30px 0px;
    background-color: #ff91e5;
    display: flex;
    justify-content: space-between;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
    font-size: x-large;
    color:#ff91e5;
    padding: 10px 100px 10px 100px;
}

.fieldset {
    margin-bottom: 76px;
}

#whichBreed {
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
}

#other {
    display: flex;
    margin-top: 30px;
}

#otherBox {
    display: flex;
    margin-left: 30px;
}

#button {
    margin-top: 20px;
    margin-left: 80px;
}

#infoDescription {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.links {
    margin: 0px 20% 280px 20%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.images1-3 {
    display: flex;
    justify-content: space-around;
    margin: 100px 8% 50px 8%;
}

#pomskyLabel {
    font-size: x-large;
    position: absolute;
    top: 270px;
    font-weight: bold;
}

#pomskyPic {
    display: flex;
    width: 80%;
    height: auto;
}

#yorkipooLabel {
    font-size: x-large;
    position: absolute;
    top: 270px;
    font-weight: bold;
}

#yorkipooPic {
    display: flex;
    width: 80%;
    height: auto;
}

#bullmationLabel {
    font-size: x-large;
    position: absolute;
    top: 270px;
    font-weight: bold;
}

#bullmationPic {
    display: flex;
    width: 80%;
    height: auto;
}

.images4-6 {
    display: flex;
    justify-content: space-around;
    margin: 100px 8% 50px 8%;
}

#corgidorLabel {
    font-size: x-large;
    position: relative;
    font-weight: bold;
}

#corgidorPic {
    display: flex;
    width: 80%;
    height: auto;
}

#chuskyLabel {
    font-size: x-large;
    position: relative;
    font-weight: bold;
}

#chuskyPic {
    display: flex;
    width: 90%;
    height: auto;
}

#chugLabel {
    font-size: x-large;
    position: relative;
    font-weight: bold;
}

#chugPic {
    display: flex;
    width: 80%;
    height: auto;
}
